<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="popup:de.cognicrypt.core.menu">
                  <command
                        commandId="de.cognicrypt.testgenerator.rungenerator"
                        icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt-codegen.png"
                        label="Run CogniCrypt Test Generator"
                        style="push">
                  </command>
               </menuContribution>
            </extension>
            <extension
                  point="org.eclipse.ui.commands">
               <command
                     defaultHandler="de.cognicrypt.testgenerator.actions.RunTestGeneratorHandler"
                     id="de.cognicrypt.testgenerator.rungenerator"
                     name="TestCodeGenerator">
               </command>
            </extension>
            <extension
                  point="org.eclipse.ui.menus">
               <menuContribution
                     allPopups="false"
                     locationURI="toolbar:org.eclipse.ui.main.toolbar">
                  <toolbar
                        id="de.cognicrypt.toolbar"
                        label="CogniCrypt">
                     <command
                           commandId="de.cognicrypt.testgenerator.rungenerator"
                           icon="platform:/plugin/de.cognicrypt.core/icons/cognicrypt-codegen.png"
                           label="RunTestGeneratorToolBar"
                           style="push"
                           tooltip="Generate Tests from CrySL rules">
                     </command>
                  </toolbar>
               </menuContribution>
            </extension>
</plugin>
